## Dev env configuration

In [1]:
# install the required python packages
# !pip install numpy pandas yfinance

## Imports

In [3]:
# import the necessary packages
from datetime import datetime
import yfinance as yf

## Configuring our date range and ticker

In [15]:
# set the start and end dates for our market data request
end_date = datetime(year=2025, month=3, day=1)
start_date = datetime(year=2025, month=1, day=1)

# set the name of the ticker we want to download market data for
ticker = ["NVDA", "AAPL"]

## Yfinance's default multi-index structure

In [16]:
# download daily market data, grabbing the tail of the dataframe
df_orig = yf.download(
    tickers=ticker,
    start=start_date,
    end=end_date,
    interval="1d",
    auto_adjust=True,
    progress=False
)
df_orig = df_orig.tail()
df_orig

Price            Close                    High                     Low  \
Ticker            AAPL        NVDA        AAPL        NVDA        AAPL
Date
2025-02-24  247.100006  130.279999  248.860001  138.589996  244.419998
2025-02-25  247.039993  126.629997  250.000000  130.199997  244.910004
2025-02-26  240.360001  131.279999  244.979996  133.729996  239.130005
2025-02-27  237.300003  120.150002  242.460007  135.009995  237.059998
2025-02-28  241.839996  124.919998  242.089996  125.089996  230.199997

Price                         Open                Volume
Ticker            NVDA        AAPL        NVDA      AAPL       NVDA
Date
2025-02-24  130.080002  244.929993  136.559998  51326400  251381100
2025-02-25  124.440002  248.000000  129.979996  48013300  271428700
2025-02-26  128.490005  244.330002  129.990005  44433600  322553800
2025-02-27  120.010002  239.410004  135.000000  41153600  443175800
2025-02-28  116.400002  236.949997  118.019997  56796200  388160100

In [17]:
# show the original index structure
df_orig.index

DatetimeIndex(['2025-02-24', '2025-02-25', '2025-02-26', '2025-02-27',
               '2025-02-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [18]:
# show the original columns
df_orig.columns

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close', 'NVDA'),
            (  'High', 'AAPL'),
            (  'High', 'NVDA'),
            (   'Low', 'AAPL'),
            (   'Low', 'NVDA'),
            (  'Open', 'AAPL'),
            (  'Open', 'NVDA'),
            ('Volume', 'AAPL'),
            ('Volume', 'NVDA')],
           names=['Price', 'Ticker'])

## Improving yfinance's multi-index structure

In [27]:
df = df_orig.copy()

df = df.stack(level="Ticker", future_stack=True)
df.index.names = ["Date", "Symbol"]
df = df[["Open", "High", "Low", "Close", "Volume"]]
df = df.swaplevel(0, 1)
df = df.sort_index()

df

Price                    Open        High         Low       Close     Volume
Symbol Date
AAPL   2025-02-24  244.929993  248.860001  244.419998  247.100006   51326400
       2025-02-25  248.000000  250.000000  244.910004  247.039993   48013300
       2025-02-26  244.330002  244.979996  239.130005  240.360001   44433600
       2025-02-27  239.410004  242.460007  237.059998  237.300003   41153600
       2025-02-28  236.949997  242.089996  230.199997  241.839996   56796200
NVDA   2025-02-24  136.559998  138.589996  130.080002  130.279999  251381100
       2025-02-25  129.979996  130.199997  124.440002  126.629997  271428700
       2025-02-26  129.990005  133.729996  128.490005  131.279999  322553800
       2025-02-27  135.000000  135.009995  120.010002  120.150002  443175800
       2025-02-28  118.019997  125.089996  116.400002  124.919998  388160100